  :root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background-color: #3a71d8;
    --header-text-color: #000000;
 
   
  }
  
  body[data-theme="dark"] {
    --background-color: #000000;
    --text-color: #ffffff;
    --header-background-color: #333333;
    --header-text-color: #ffffff;
  }


  body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    height: 100dvh;
    padding:0;
  }


 
  
  header {
        background-color: var(--header-background-color);
        color: var(--header-text-color);
        width: 100%; /* Prend toute la largeur de la page */
        padding: 20px; /* Ajoute un padding pour l'espacement interne */
        box-sizing: border-box; /* Inclut le padding dans la largeur totale */
        margin: 0; /* Supprime les marges par défaut */
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  nav ul li a {
    text-decoration: none;
    color: inherit;
  }
  


